/* ----------------------------- 
	Custom Properties
----------------------------- */
:root {
	/* Colors */
	/*--brand-primary-color: #988271;*/
	--light-primary-color: #b0a0a3;
	--brand-second-color: #dc1414;
	--brand-third-color: #82b7af;

	--black: #111;
	--white: #fff;
	--dark-gray: #454545;
	--medium-gray: #777;
	--light-gray: #aaa;
	--lighter-gray: #dcdcdc;
	--offwhite: #f6f6f6;

	--text-color: #333;
	--text-color-darkmode: var(--light-gray);
	--heading-color: var(--brand-second-color);
	--link-color: var(--brand-primary-color);
	--link-color-hover: var(--brand-second-color);

	--bg-color-d: #050505;
	--bg-color-c: var(--offwhite);

	/* Typography */
	--font-family-headings:  europa, freight-sans-pro, sans-serif;
	--font-family-base: linotype-sabon, serif;
	--base-font-size: 1.2rem;
	--fs-min: 1.2rem;
	--fs-val: 1.8vw;
	--fs-max: 2rem;
	--ratio: 1.414;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

	--line-height: 1.45;
	--text-lenght: 60ch;



	/* Margin and Padding */
	--site-container: var(--space);
	--site-auto-max-width: auto;
	--post-container: auto;

	--space: 1.414rem;
	--min-space: calc(var(--space) / 2);

	--measure: 65ch;
	--site-width: 1440px;

	/* Borders */
	--border-thin: 1px;
}

/* Margin and Padding */
@media screen and (min-width: 560px) {
	:root {
		--site-container: calc(var(--space) * 2);
	}
}
/*@media screen and (min-width: 1200px) {
	:root {
		--site-container: 10%;
	}
}*/

/* Layout */
@media screen and (min-width: 640px) {
	:root {
		--site-container-grid: repeat(2, 1fr);
	}
}
@media screen and (min-width: 960px) {
	:root {
		--site-container-grid: repeat(3, 1fr);
	}
}
@media screen and (min-width: 1620px) {
	:root {
		--site-container-grid: repeat(4, 1fr);
	}
}

/* Typography */
@media screen and (min-width: 1620px) {
	:root {
		--base-font-size: 1.35rem;
	}
}