/* ----------------------------- 
  Global Styles
----------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
Defining the maximum length of text blocks 
*/
p {
  max-width: var(--text-lenght);
}

html,
body,
div,
header,
nav,
main,
section,
article,
footer {
  max-width: none;
}

/*
Removing default list style, margin and padding from lists 
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*
Defining link styles
*/
a:link,
a:visited {
  color: var(--link-color);
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
a:hover {
  color: var(--brand-second-color);
}
a:focus,
a.active {
  border-bottom: 1px solid var(--link-color);
}