.thumbnail__figure {
	background-color: var(--brand-third-color);
}
.hero-img {
	min-height: 400px;
	max-height: 90vh;
	margin-bottom: calc(2 * var(--space));
	overflow: hidden;
}
.hero-img img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/*.parent {
	scroll-snap-type: x mandatory;
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}*/
/*.child {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}*/
.child {
	background-color: #f6f3ee;
	height: 100vh;
	overflow: hidden;
}
.child img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

/* Example for a full page image gallery with vertical scroll */
.parent {
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow: auto;
}
.child {
	height: calc(100vh - 45px);
	scroll-snap-align: center;
	padding-top: var(--space);
	padding-bottom: calc(var(--space) * 2);
	width: 100vw;
}
@media screen and (min-width: 860px) {
	.child {
		height: 100vh;
		padding-top: calc(var(--space) * 4);
		padding-bottom: calc(var(--space) * 6);
		width: calc(100vw - 260px);
	}
}

.article-img-block {
	margin-top: 0;
	max-width: 400px;
}