/* ----------------------------- 
	Global
----------------------------- */
.site {
	background: var(--bg-color-c);
}
.site.darkmode {
	background: var(--bg-color-d);
	color: var(--text-color-darkmode);
}
/* ----------------------------- 
	Site Header
----------------------------- */
.site-header {
	border-bottom: 1px solid var(--lighter-gray);
}
.logo {
	width: 150px;
}
ul.language-switcher {
	border-top: 1px solid var(--lighter-gray);
	margin-top: calc(var(--space));
	padding-top: calc(var(--space));
}
.language-switcher li {
}

@media screen and (min-width: 860px) {
	.site-header {
		border-right: 1px solid var(--lighter-gray);
		border-bottom: none;
	}					
}

/* ----------------------------- 
	Site Content
----------------------------- */
.signature {
	color: var(--light-gray);
}
.signature::before {
	content: "—";
}
.signature-img {
	margin-top: var(--space);
	mix-blend-mode: multiply;
	width: 200px;
}

.article-block {
	border-top: 1px solid var(--lighter-gray);
	padding-top: var(--space);
}
.article-block:last-child {
	border-bottom: 1px solid var(--lighter-gray);
}
.article-block p {
	color: var(--medium-gray);
}

/* ----------------------------- 
	Gallery List Page
----------------------------- */
.article-title .galeries-link:hover {
	color: var(--text-color);
	text-decoration: underline;
}
.more-link {
	display: none;
	margin-top: 0;
	align-self: center;
}
.more-link .icon {
	height: 4rem;
	width: 4rem;
}
/*.previous .more-link {
	transform: rotate(180deg);
}*/
@media screen and (min-width: 760px) {
	.more-link {
		display: inline-block;
	}
}
/* ----------------------------- 
	Articles Page
----------------------------- */
.timestamp::after {
	content: "";
	border-bottom: .35rem solid var(--light-primary-color);
	display: block;
	width: .3rem;
}

.columns-layout-figure figcaption {
	color: var(--light-gray);
}

.calendar-block {
  border-top: 1px solid var(--lighter-gray);
}
.year {
	color: var(--light-gray);
}

/* ----------------------------- 
	Modules
----------------------------- */
/*.previous,
.next {
	display: inline-block;
	position: relative;
}*/
/*.previous:before {
	content: "<";
	margin-right: var(--space);
}
.next:after {
	content: ">";
	margin-left: var(--space);
}*/