/* ----------------------------- 
	Typography
----------------------------- */
p {
	font-weight: 300;
	line-height: var(--line-height);
}
.night p {
	font-weight: 200;
}
/*.text-preset-1 {
	font-size: var(--text-preset-1);
}
.text-preset-2 {
	font-size: var(--text-preset-2);
}
.text-preset-3 {
	font-size: var(--text-preset-3);
}
.text-preset-4 {
	font-size: var(--text-preset-4);
}
.text-preset-5 {
	font-size: var(--text-preset-5);
}
.text-preset-6 {
	font-size: var(--text-preset-6);
}
.text-preset-7 {
	font-size: var(--text-preset-7);
}*/

.site {
	color: var(--text-color);
	font-family: var(--font-family-base);
	font-size: var(--base-font-size);
}
h1, h2, h3 {
	font-family: var(--font-family-headings);
	font-weight: 500;
}

/* Site Nav ----------------- */
.menu__item a {
	font-family: var(--font-family-headings);
	font-size: .9rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
/*.menu__item a:hover {
	color: var(--brand-second-color);
}*/
.menu__item a.active {
	color: var(--brand-second-color);
}
.language-switcher a {
	font-family: var(--font-family-base);
	font-size: 1rem;
	font-weight: 300;
	font-style: italic;
}
.language-switcher {
}


.site-title {
	font-family: var(--font-family-headings);
	font-size: 1.35em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.35;
}

/* -----------------------------
  Articles Page
----------------------------- */
.article-title {
	font-family: var(--font-family-base);
	font-size: var(--s2);
	line-height: 1.15;
	font-style: italic;
	font-variant: discretionary-ligatures;
	font-feature-settings: "liga";
}
.article-title a {
	color: var(--text-color);
}
.article-title a:focus,
.article-title a:hover {
	color: var(--brand-second-color);
}
.timestamp {
	color: var(--light-primary-color);
	font-size: 0.9rem;
}

.sticky-container {
	font-size: clamp(var(--fs-min), var(--fs-val), var(--fs-max));
	font-variant: discretionary-ligatures;
	font-feature-settings: "liga";
}
.sticky-container p:first-child:first-letter {
  float: left;
  font-size: clamp(3.2rem, 5.8vw, 6rem);
  /*line-height: 20px;*/
  padding-top: 10px;
  padding-right: 2px;
  margin-left: -4px;
}
.signature {
	font-size: 1rem;
}

.block-title {
	color: var(--brand-second-color);
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
.more-link {
	color: var(--light-gray);
	font-family: var(--font-family-headings);
	font-size: var(--s0);
}
.columns-layout-figure figcaption {
	font-family: var(--font-family-headings);
  font-size: .75em;
}

.year {
	color: var(--light-gray);
	font-variant: proportional-nums;
}

.gallery-article .gallery-title {
	font-family: var(--font-family-base);
	font-size: 1.4em;
	font-style: italic;
}
.gallery-title-group span {
	font-family: var(--font-family-headings);
  font-size: var(--s0);
  font-variant: small-caps;
  letter-spacing: 0.1rem;
}

.page-nav a {
	font-style: italic;
}
@media screen and (min-width: 860px) {
	.galeries-list-page .article-title {
		font-size: 3.5vw;
	}
}