<footer id="contact" class="site-footer site-container site-container-grid">
  <div class="footer-info">
    <div class="contact-info">
      <a class="scroll-button" href="#top">
        <span class="text-reader-only">retour haut de page</span>
        <span class="scroll-icon"></span>
      </a>
      <h2 class="footer-info-title">Travaillons ensemble</h2>
      <p>Si vous souhaitez découvrir comment le design peut aider votre entreprise à se développer et si vous souhaitez voir si nous serions aptes à collaborer, ce sera un plaisir d'en discuter avec vous.</p>
      <a href="mailto:hello@sebthiroux.com">hello@sebthiroux.com</a>
    </div>
 		<p class="small-print">&copy; {{ now.Format "2006" }}</p>
	</div>
</footer>