<aside class="sidebar sidebar--right-on-mobile sidebar--static@md js-sidebar" data-static-class="position-relative z-index-1 flex-grow max-width-xxxxs border-right" id="sidebar" aria-labelledby="sidebar-title">
  <div class="sidebar__panel sticky-menu">
    <header class="sidebar__header z-index-2">
      <a class="brand" href="{{ .Site.BaseURL | relLangURL }}" title="lien de retour à la page d'accueil">
      	<img src="img/logo-signature.png" alt="Logo Planas de Font">
    	</a>

      <button class="reset sidebar__close-btn js-sidebar__close-btn js-tab-focus">
        <svg class="icon icon--xs" viewBox="0 0 16 16"><title>Fermer le menu</title><g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
      </button>
    </header>
    
    <div class="position-relative z-index-1">
      <!-- start sidebar content -->
      <div class="text-component">
        <a href="index.html">
          <img class="brand" src="img/logo-signature.png" alt="Logo Planas de Font">
        </a>
        {{ partial "site-menu.html" . }}
      </div>
      <!-- end sidebar content -->
    </div>
  </div>
</aside>