<!DOCTYPE html>
<html lang="{{ .Language.Lang | default "fr" }}">
<head>
  {{ partial "head.html" . }}
</head>

<body class="site {{ if ne $.Site.Params.defaultTheme "light" -}} darkmode {{- end -}}">
	<div class="padding-component hide@md no-js:is-hidden">
    <button class="btn btn--primary" aria-controls="sidebar">Menu</button>
  </div>
  
  <div class="flex@md min-height-100vh">
  	{{ partial "header.html" . }}


  	{{ block "main" . }}{{ end }}
  </div>
  <script src="/js/scripts.js"></script>
</body>
</html>
